<%- include('../partials/html-head') %>
<!-- <link rel="stylesheet" href="/stylesheets/flights/index.css" /> -->
<%- include('../partials/nav') %>

<main>
    <h1><%= title %></h1>

    <form id="add-destination-form" action="/destinations" method="POST">
        <label for="airport-input">Destination (must be unique):</label>
        <input type="text" name="airport" id="airport-input">
        <button type="submit">Add Destination</button>
    </form>

    <h3>These Destinations have already been entered:</h3>
    <% console.log(destinations)%>
    <% destinations.forEach(function(destination) { %> 
        <h4><%= destination.airport %> </h4>
        <% }) %> 

</main>

<%- include("../partials/footer") %> 